body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;}

    h1, h2, h3, p {margin: 0;}

h2 {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;}

a {text-decoration: none;}

ul, ol {list-style-type: none;
margin: 0;
padding-left: 0;}

h3 {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

img {display: block;
max-width: 100%;
height: auto;}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 120px 0;
}

/* #region Common */

/* #endregion */

/* #region Header Section */
.header {border-bottom: 1px solid e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {font-family:"Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
margin-right: 76px;}

.logo-accent-dark {color: #2e2f42;}

.nav-list {display: flex;
gap: 40px;
align-items: center;
}
.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
}
.nav-link:hover, .nav-link:focus {color: #404bbf;}

.address {font-style: normal;}
.address-list {display: flex;
gap: 40px;
margin-right: auto;}

.address-link {
    font-weight: inherit;
    color: inherit;}

    .address-link:hover, .address-link:focus, .address-link:active {
            color: #404bbf;}

/* #endregion */

/* #region Hero Section */
.hero-section {background-color: #2e2f42;}
.hero-container {display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 188px 0;}

.hero-title {width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

.hero-button {
    min-width: 169px;
    min-height: 56px;
    font-family: inherit;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
margin-top: 48px;
border-radius: 4px;
padding: 16px 32px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover, .hero-button:focus {background-color: #404bbf;}
/* #endregion */

/* #region Features Section */


.features-list {display: flex;
    justify-content: center;
    align-items: baseline;
    flex-basis: 1128px;
    gap: 24px;
}

.features-item {width: calc((100% - 3 * 24px) / 4);}
/* #endregion */

/* #region Team Section */
.team-title {margin-bottom: 72px;}
.team-section {background-color: #f4f4fd;}
.team-card {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px 0;
}
.team-name,
.team-position {
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc((100% - 3 * 24px) / 4);
}

/* #endregion */


/* #region Portfolio Section */

/* #endregion */

/* #region Footer Section */
.footer {background-color: #2e2f42;}
.footer-text {color: #f4f4fd;}
.logo-accent-light {color:#f4f4fd;}
/* #endregion */

